.App {
  text-align: center;
}

.ad {
  float: right;
  padding: 10px;
}

.content {
  margin: auto;
  max-width: 1366px;
}

.container {
  width: 50%;
  padding-left: 30px;
}

.tile {
  padding: 10px;
}

.main-logo {
  padding: 50px;
}

.logo {
  padding: 4px;
}

.footer {
  padding-top: 10px;
}

p {
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-size: 64px;
  background: -webkit-linear-gradient(180deg, rgb(175, 0, 171), rgb(254, 0, 3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 32px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}